<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{> header}}
		<div class="">
			<h2>Hey {{name}} how are you doin'?</h2>
		</div>
		<h1>{{screamIt name}}</h1>

		{{> footer}}

	</body>
</html>
